<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leap.attentrack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5022247600598681~1959626655"/>
        <activity android:name="com.leap.attentrack.StartupActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:name="com.leap.attentrack.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.leap.attentrack.AlarmBroadcastReceiver">
        </receiver>
    </application>

</manifest>